GOAT_RPC_PROVIDER_URL='https://rpc.soniclabs.com'
GOAT_WALLET_PRIVATE_KEY=SONIC_WALLET_PRIVATE_KEY
OPENAI_API_KEY=OPENAI_API_KEY
SOLANA_PRIVATE_KEY=SOLANA_PRIVATE_KEY
SONIC_PRIVATE_KEY=SONIC_PRIVATE_KEY
ALLORA_API_KEY=ALLORA_API_KEY
TWITTER_USERNAME=TWITTER_USERNAME
TWITTER_PASSWORD=TWITTER_PASSWORD
TWITTER_EMAIL=TWITTER_EMAIL
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAFQODgEAAAAAVHTp76lzh3rFzcHbmHVvQxYYpTw%3DckAlMINMjmCwxUcaXbAN4XqJVdgMJaHqNOFgPMK0zN1qLqLQCF
COINGECKO_API_KEY=